nav {
	margin: 27px auto 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
    
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #731abc;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #731abc;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #731abc;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #731abc;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #731abc;
}
/*
body{
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
*/
header{
	font-size: 12px;
	font-family: sans-serif;
}
footer{
	font-size: 12px;
	font-family: sans-serif;
	background-color: #34495e; 
}

h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}
td.x {
 text-align: left;
vertical-align: top;
font-size: 15px;
}
span.z {
    color: #731abc;
	font-size: 25px;
}
span.y {
    color: #731abc;
}
span.x{
	background-color: #34495e;
}
a{
    color: #ecf0f1;
}
table{
    border:1px solid black;
    width: 100%;

}
.center {
    margin-left:auto; 
    margin-right:auto;
  }
  html, body {
	height: 100%;
	margin: 0;
  }
  .wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
  }

  .content {
	flex: 1;
	overflow: auto;
  }
  th,td{
	padding: 30px;
  }
  textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
  }